form#login{
    color: white;
    background-color: white;
    border-top-left-radius: var(--centerpiece-radius);
    border-bottom-left-radius: var(--centerpiece-radius);
    padding: 8px;
    padding-right: 0px;
}

#login fieldset{
    margin: 0;
    background-color: #333355;
    border-top-left-radius: var(--form-radius);
    border-bottom-left-radius: var(--form-radius);
}

#login label{
    border: 3px solid white;
    border-right: 0;
}

#login i{
    display: block;
    padding: 5px;
    font-size: 20px;
    line-height: 20px;
}

#login input[type="text"], #login input[type="password"]{
    color: white;
    border: 3px solid white;
}

#login input[type="submit"], #login input[type="submit"]:visited{
    background-color: white;
    color: #333355;
}

#login input[type="submit"]:hover, #login input[type="submit"]:focus{
    background-color: #ffffffdd;
}

#login input[type="submit"]:active{
    background-color: #ffffffaa;
}